.card-cont {
  display: flex;
  width: auto;
  height: 520px;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid lightgrey;
}

.card-img {
  display: flex;
  width: auto;
  height: 65%;
}

.card-img > img {
  display: flex;
  width: 100%;
}

.card-info-cont {
  display: flex;
  width: auto;
  height: 35%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-info-cont > h2 {
  margin: 3px 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.card-info-cont > h3 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.card-btn {
  display: flex;
  width: auto;
  height: auto;
  border: none;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(23, 167, 167, 0.5);
}

.card-btn:active {
  outline: none;
}

.card-btn:hover {
  background-color: rgba(23, 167, 167, 0.7);
}

.added-to-cart {
  background-color: rgb(255, 127, 80, 0.7);
}

.added-to-cart:hover {
  background-color: rgb(255, 127, 80, 0.8);
}