* {
  font-family: "Rokkitt", Georgia, serif;
}

.nav-header {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
}

.nav-topbar {
  display: flex;
  width: auto;
  height: 75%;
  padding: 0 5%;
  align-items: center;
  /* border: 1px solid green; */
  justify-content: space-between;
}

.nav-title {
  display: flex;
  width: auto;
  height: auto;
  letter-spacing: 2px;
  align-items: center;
  /* border: 1px dashed red; */
  color: rgb(87, 86, 86);
}

.nav-title > h1 {
  font-size: 35px;
}

.nav-searchbar {
  display: flex;
  width: 250px;
  height: 35px;
  align-items: center;
}

.nav-searchbar > input {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: 1px solid grey;
  border-radius: 1000px;
}

.nav-searchbar > input:focus {
  outline: none;
  /* border: none; */
}

.nav-searchicon-cont {
  display: flex;
  width: 15%;
  height: 100%;
  opacity: 0.8;
  color: #ffffff;
  cursor: pointer;
  margin-left: -14%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8;
}

.nav-searchicon-cont:hover {
  transition: 0.5s;
  background-color: #000000;
}

.nav-bottombar {
  display: flex;
  width: auto;
  height: 25%;
  padding: 0 5%;
  border: 1px solid blue;
  justify-content: space-between;
}

.nav-bottombar > ul {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px solid red; */
  grid-template-columns: repeat(5, auto);
}

.nav-item {
  display: flex;
  cursor: pointer;
  padding-right: 40px;
  flex-direction: column;
}

.nav-item > a {
  display: flex;
  width: 100%;
  margin: auto;
}

.nav-item:hover {
  font-size: 15px;
}

.nav-dropdown {
  display: none;
}

.nav-item:hover > .nav-dropdown {
  display: block;
}

.nav-cartitems {
  display: flex;
  width: auto;
  height: auto;
  padding: 0 15px;
  align-items: center;
  /* border: 1px solid yellow; */
}

.nav-cartitems > span {
  padding-left: 5px;
}

/* -------subnavbar---------- */
.sn-container {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 167, 167, 0.5);
}

.sn-text {
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
